:root {
    --global-color-desired: #8ae234;
    --global-color-undesired: #fcaf3e;
    --global-color-unavailable: #ef2929;
    --global-color-normal: #eeeeec;
}

.btn {
  margin: 5px;
}

.seat-picker {
  margin: 40px;
}

.hide-seat-picker {
  opacity: 50%;
  pointer-events: none;
}

.suspense[data-is-loading] {
    display: none;
    visibility: hidden;
}

.suspended:not([data-is-loading]) {
    animation: fade-in 1s;
}

.suspense + * {
    display: none;
    visibility: hidden;
}

.suspense[data-is-loading] + * {
    display: initial;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }