---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: jobs-service-postgresql
  name: jobs-service-postgresql
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
      labels:
        app.kubernetes.io/name: jobs-service-postgresql
    spec:
      containers:
        - name: jobs-service-postgresql
          image: quay.io/kiegroup/kogito-jobs-service-postgresql-nightly:1.31
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http1
              protocol: TCP
          env:
            - name: KOGITO_JOBS_SERVICE_KNATIVE_EVENTS
              value: "false"
            - name: QUARKUS_DATASOURCE_USERNAME
              value: postgres
            - name: QUARKUS_DATASOURCE_PASSWORD
              value: pass
            - name: QUARKUS_DATASOURCE_JDBC_URL
              value: jdbc:postgresql://timeouts-showcase-database:5432/postgres
            - name: QUARKUS_DATASOURCE_REACTIVE_URL
              value: postgresql://timeouts-showcase-database:5432/postgres
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: null
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 10
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: null
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 10
---
apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: jobs-service-postgresql-create-job-trigger
spec:
  broker: default
  filter:
    attributes:
      type: CreateProcessInstanceJobRequest
  subscriber:
    ref:
      apiVersion: serving.knative.dev/v1
      kind: Service
      name: jobs-service-postgresql
    uri: /jobs/events
---
apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: jobs-service-postgresql-cancel-job-trigger
spec:
  broker: default
  filter:
    attributes:
      type: CancelJobRequest
  subscriber:
    ref:
      apiVersion: serving.knative.dev/v1
      kind: Service
      name: jobs-service-postgresql
    uri: /jobs/events
---
apiVersion: sources.knative.dev/v1
kind: SinkBinding
metadata:
  name: jobs-service-postgresql-sb
spec:
  sink:
    ref:
      apiVersion: eventing.knative.dev/v1
      kind: Broker
      name: default
      namespace: ""
  subject:
    apiVersion: serving.knative.dev/v1
    kind: Service
    name: jobs-service-postgresql