# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:

      # build kogito first
      - run: git clone --depth=1 https://github.com/kiegroup/kogito-bom
      - run: mvn clean install -DskipTests -f kogito-bom/pom.xml

      - run: git clone --depth=1 https://github.com/kiegroup/kogito-runtimes
      - run: mvn clean install -DskipTests -f kogito-runtimes/pom.xml

      # build quarkus
      - run: git clone --depth=1 https://github.com/mswiderski/quarkus
      - run: mvn clean install -DskipTests -Denforcer.skip=true -pl '!devtools/gradle' -f quarkus/pom.xml

      # run tests!
      - run: git clone --depth=1 https://github.com/mswiderski/kogito-quickstarts
      - run: mvn clean package -f kogito-quickstarts/pom.xml
