{
  "schema" : "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"Candidate\":{\"type\":\"object\",\"properties\":{\"email\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"salary\":{\"type\":\"integer\"},\"skills\":{\"type\":\"string\"}}}},\"type\":\"object\",\"properties\":{\"candidate\":{\"$ref\":\"#/$defs/Candidate\"},\"hr_approval\":{\"type\":\"boolean\"},\"it_approval\":{\"type\":\"boolean\"}}}",
  "resources" : {
    "scripts" : { },
    "styles" : { }
  }
}